* {
    font-family: roboto;
    box-sizing: border-box;
}

body {

    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #182435;
    padding: 20px 200px;
}

nav .logo {
    font-weight: 900;
    font-size: 27px;
    color: aliceblue;
}

nav .links ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}

nav .links li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
}

.flex {
    padding: 100px 200px;
    padding-bottom: 100px;
    background-color: #182435;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.flex .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .flex .image img {
    width: 400px;
}

main .flex .text .title h1 {
    font-size: 50px;
    margin: 0px;
}

main .flex .text .dis {
    font-size: 18px;
    width: 100%;
    align-content: center;
}

main .flex .text .btn button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    border: none;
}

.info {
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    color: #182435;
    margin-top: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    width: 100%;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
}

.cards>* img {
    width: 200px;
    z-index: -1;

}

.cards>* p {
    color: #5b5b5b;

}

.cards>* {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: solid;
    border-color: rgb(0, 110, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hikma {
    margin-top: 100px;
    color: #182435;
    margin-left: 200px;
    margin-right: 200px;

}

.call {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.call .buttons button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    border: #fff;
    border: solid;
    margin-top: 25px;
}